<nav class="navbar fixed-top">
    <div class="container justify-content-between">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-white" href="/inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/reproductor">Reproductor</a>
            </li>
        </ul>
    </div>
</nav>

